<div fxLayout="row" fxLayoutAlign="center center" class="wrapper">
    <div fxFlex="60" fxFlex.xs="100">
        <div fxLayout="column" fxLayoutAlign="center center" class="pad-tb-25">
            <div fxFlex class="heading-32-dark-grey">What is your Goal to Invest in SIP?</div>
        </div>
        <div class="grey-back pad-30">
            <div fxLayout="row" fxLayoutAlign="center center" fxLayoutWrap="wrap">
                <div fxFlex="30" fxFlex.xs="50" *ngFor="let goal of sipGoals"
                     (click)="selectGoal(goal)" class="clickable">
                    <md-card class="goal-card">
                        <img md-card-image src="{{goal.imagePath}}">
                        <md-card-footer class="goal-title">{{goal.name}}</md-card-footer>
                    </md-card>
                </div>
            </div>
        </div>
    </div>
</div>

